.chat-left-side
  .left-header
    .main
      %p.main__name 
        = current_user.name
      %ul.main__menu
        %li.main__menu-icon
          = link_to new_group_path, class: "main__menu-icon--edit" do
            = fa_icon 'edit'
        %li.main__menu-icon
          = link_to edit_user_path(current_user), class: "main__menu-icon--cog" do
            = fa_icon 'cog'

  .left-body
    = render partial: "group"